.disabled-page {
  color: #687078;
}

.active {
  border-radius: 40px;
  color: #055cad;
}

.next {
  font-size: 4px;
  height: 30px;
  position: absolute;
  right: 0;
  width: 150px;
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 500px;
}

.pagination a {
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

.previous {
  font-size: 4px;
  height: 30px;
  left: 0;
  position: absolute;
  width: 150px;
}